body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
}

.container {
    max-width: 450px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

h2 {
    color: #6a1b9a;
}

.subtitle {
    color: #555;
    font-size: 14px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

button {
    background: #6a1b9a;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
}

.note {
    font-size: 12px;
    color: #777;
}


#panicBtn {
    position: fixed;
    top: 15px;
    right: 15px;
    background: #d32f2f;
    color: white;
    padding: 10px 14px;
    border-radius: 50px;
    font-weight: bold;
    z-index: 1000;
}

.panic-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: 2000;
}

.panic-content {
    background: white;
    padding: 25px;
    max-width: 400px;
    margin: 80px auto;
    border-radius: 8px;
    text-align: center;
}

td strong {
    padding: 4px 8px;
    border-radius: 4px;
}

td strong:contains("Critical") {
    background: #d32f2f;
    color: white;
}


.filters a {
    margin-right: 10px;
    text-decoration: none;
    padding: 6px 10px;
    background: #eee;
    border-radius: 4px;
    font-size: 14px;
}

.service-card {
    background: #fafafa;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.stat-box {
    background: #f0f4ff;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    text-align: center;
}
