{% extends "user_base.html" %}
{% block title %}Track Case{% endblock %}

{% block content %}
<body style="font-family: Arial; text-align:center; padding:50px;">

<h2>Track Your Case</h2>

<form method="POST">
    <input type="text" name="reference_id" placeholder="Enter Reference ID" required>
    <button type="submit">Check Status</button>
</form>

{% if result %}
    <h3>Status: {{ result.status }}</h3>
{% elif result is not none %}
    <h3>Invalid Reference ID</h3>
{% endif %}

{% endblock %}
